<div class="wrapper">
<h1 class="main-title"><%="STUPID COACHING"%></h1>
<br>
<form action="/answer" data-turbo="false">
  <input type="text" name="ask">
  <input class="btn btn-outline-success" type="submit" value="Ask!">
</form>
</div>
