/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  height: 100%;
  background-color: bisque;
  padding: 100px;

}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(230, 225, 220);
  padding: 50px 50px;
  border-radius: 15px;
  box-shadow: inset;
}
.main-title {
font-size: 4rm;
}

.submit {
  color: #fff;
  background-color: rgb(71, 71, 202);
  border: 1px solid rgb(71, 71, 202);
}
.submit:hover {
  color: rgb(71, 71, 202);
  background-color: #fff;
  cursor: pointer;
}

.question-block {
  width: 100%;
  align-content: start;
}

.answer-block {
  width: 100%;
  text-align: right;
}

.link {
text-decoration: none;
}

.link:hover {
  color: beige;
}
